[submodule "components/WIFIMANAGER-ESP32"]
	path = components/wifimanager-esp32
	url = https://github.com/andreaskuster/WIFIMANAGER-ESP32.git
[submodule "components/arduino-esp32"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
